* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
main {
    position: relative;
    z-index: 1;
}

.hero {
    background: url("img/glen-noble-18012-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-hero {
    background: rgba(252,252,252, 0.8);;
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
}

.hero-content h1 {
    color: #B2196D;
    font-family: 'Elsie', cursive;
}

.hero-content h3 {
    color: #282727;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}

form {
    padding-top: 15px;
}

input {
    height: 35px;
    font-size: 16px;
    padding: 7px;
    border: none;
}

/* Search bar placeholder */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:  rgb(104, 220, 233);
}
::-moz-placeholder { /* Firefox 19+ */
    color:  #20CDE0;
}
:-ms-input-placeholder { /* IE 10+ */
    color:  #20CDE0;
}
:-moz-placeholder { /* Firefox 18- */
    color:  #20CDE0;
}

form button {
    height: 35px;
    border: 1px solid white;
    background: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background: rgb(36, 179, 194);
    color: white;
    padding: 7px;
    cursor: pointer;
}

.results-bar.open {
    background-color: #B2196D;
    color: #FFEA57;
    font-size: 20px;
    font-family: 'Roboto';
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.js-search-results.show {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 10px;
    min-height: 100vh;
}

.thumbnail {
    position: relative;
    cursor: pointer;
    font-size: 10px;
    letter-spacing: 1px;
    color: #f6f6f6;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
    background-color: #1E919E;
    background-image:
    repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    linear-gradient(60deg, rgba(77, 225, 241, 0.1) 25%, transparent 25%, transparent 75%, rgba(77, 225, 241,.1) 75%, rgba(32, 205, 224,.1)),
    linear-gradient(120deg, rgba(77, 225, 241, 0.1) 25%, transparent 25%, transparent 75%, rgba(77, 225, 241,.1) 75%, rgba(77, 225, 241,.1));
    background-size: 70px 120px;
    transition: all 0.5s;
}

.thumbnail.expand {
    width: 210px;
    height: 210px;
}

.thumbnail span {
    font-family: 'Elsie', cursive;
    font-size: 18px;
    color: white;
    display: block;
    margin: 10px auto;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.thumbnail:active {
    box-shadow: none;
    top: 10px;
}

section.lightbox {
    background-color: rgba(0, 0, 0, 0.85);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}

section.lightbox div.inner-lightbox {
    background-color: #ffffff;
    height: 70%;
    width: 80%;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
}

.lightbox-border {
    border: 1px solid #20CDE0;
}

.lightbox-content {
    padding: 15px;
}
.inner-lightbox h3 {
    font-family: 'Elsie', cursive;
}

.lightbox-btn {
    float: right;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    margin: 3px 5px 0 0;
}

.fa-window-close {
    color: #B2196D;
}

.wiki-link {
    margin: 15px 0;
}

.wiki-link a:link {
    text-decoration: none;
    font-weight: bold;
}


/* Desktop breakpoint */
/* section.lightbox {
    background-color: rgba(0, 0, 0, 0.85);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}

section.lightbox div.inner-lightbox {
    background-color: white;
    width: 80%;
    padding: 60px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner-lightbox h3 {
    font-family: 'Elsie', cursive;
}

.lightbox-btn {
    float: right;
    cursor: pointer;
    background: none;
    border: none;
    margin-top: -50px;
    margin-right: -52px;
}

.fa-window-close {
    color: #B2196D;
}

.wiki-link {
    margin: 15px 0;

.lightbox-btn {
    margin-top: -50px;
    margin-right: -52px;
} */